
@{
    ViewBag.Title = "AddSupplier";
}

<h2>Add Supplier</h2>
@using (Html.BeginForm())
{
    <div class="form-group">
        @Html.Label("Name", null, new {@class = "form-control-label"})
        @Html.TextBox("Name", null, new {@class = "form-control", placeholder = "Name" })
    </div>
    <div class="form-group">
       
        @Html.Label("Is Importer:", null, new { @class = "form-control-label" })
        @Html.CheckBox("IsImporter", false, new {@class = "form-control"})
       
    </div>
    <div class="form-group">
     <input class="form-control" type="submit" value="Add" />
    </div>
}


