@model IEnumerable<CarDealerApp.Models.SupplierViewModel>

@{
    ViewBag.Title = "Local";
}

<h2>Local</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PartsCount)
        </th>
      
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PartsCount)
        </td>
   
    </tr>
}

</table>
